user-*.*
zoom*
pulse/
kdenlive*
mimeapps.list
pavucontrol.ini
Qt*
atril
autostart
awesome-copia
caja
cef_user_data
cellluloid
cinnamon*
file*
font-manager
fontconfig
gnote
goa*
gtk*
kazam
kdeconnect
libre*
mpv
nemo
nautilus
neofetch
nitrogen
obs*
plank
procps
ranger
sticky
Unknow*
Virtual*
vlc
wallpapers
xviewer
yelp
menus
ibus
inkscape
jami*
hexchat
geany
enchant
discord
evolution
cellu*
qt5ct
VS*
xed
nvim
mc
life*
blender/
kdeglobals
dconf/
vim/
4kdownload.com
bpytop
Code
Genymobile
vscodium


