userdirs.locale
userdirs.dirs
QtProject.conf
mimeapps.list
vlc/
pipewire-media-session/
qBittorrent/
pulse/
Thunar/
gtk-3.0/
ibus/
dconf/
quodlibet/
xarchiver/
libreoffice/
ristretto/
inkscape/
omf/
xfce4/
user-dirs.locale
user-dirs.dirs
Xfce4/
