[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jaglux12/Escritorio/archivos_]
row=3
col=1

[/home/jaglux12/Escritorio/respuestas_gonzalo_lopez.dat]
row=2
col=1

[/home/jaglux12/Escritorio/respuestas_gonzalo.pdf]
row=0
col=1

[/home/jaglux12/Escritorio/Configuraciones]
row=4
col=0

[/home/jaglux12/Escritorio/respuestas_gonzalo.odt]
row=1
col=1

[/home/jaglux12/Escritorio/Wallpapers]
row=5
col=0

[/home/jaglux12/Escritorio/rubyprograms]
row=4
col=1

[/home/jaglux12/Escritorio/Bibliografía Cyberciruja.torrent]
row=5
col=1

[2022-03-23-00-35-42-41]
row=3
col=0

[Papelera]
row=0
col=0

[/]
row=1
col=0

[/home/jaglux12]
row=2
col=0

